.submit-btn {
    margin-left: 5px;
    background-color: #010155;  
    border-radius:15px;  
}

.one-liner-mini {
    color: #010155; 
    font-size:12px; 
    margin-left:10%; 
    margin-right:10%;
    text-align:justify;
}

.form-inline {
    padding-top:0px;
    padding-bottom: 10px;
}
