/* IMAGE */

#our-vision-image {
  width: 632px;
  height: 390px;
}

#home-page-phone {
  /* width: 510.23px;
  height: 770px; */
  width: 416px;
  height: 629px;
}

#navigation-phone {
  width: 296px;
  height: 447.84px;
}

#doni-logo {
  width: 177px;
  height: 88px;
}

/* ICON */
#clock-icon {
  /* width: 77px;
  height: 83px; */
  width: 80px;
}

#easy-icon {
  /* width: 84px;
  height: 88px; */
  width: 80px;
}

#unique-icon {
  /* width: 77px;
  height: 77px; */
  /* width: 101px;
  height: 89px; */
  width: 80px;
}

#gift-icon {
  /* width: 49px;
  height: 49px; */
  width: 39px;
  height: 39px;
}
